@font-face {
    font-family: 'AstroFuture';
    src: url('/assets/fonts/as.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MoonHouse';
    src: url('/assets/fonts/moonhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belamor';
    src: url('/assets/fonts/Belamor Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelated';
    src: url('/assets/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}